/***********category page side nav filter ************/


.cart_nav {
    background: #fff !important;
    width: 30%;
    height: 100%;
    position: fixed;
    right: -100%;
    z-index: 9999;
    top: 0;
    padding: 1rem 0;
    overflow-x: hidden;
    text-align: center;
    transition: 0.7s;
}

.cart_nav.active {
    right: 0;
}




.mobile_menu li {
    padding: 0.7rem;

    width: 100%;


}

.mobile_item {
    font-size: 1rem;
    text-transform: capitalize;
    color: #989898;
    font-weight: 400;
    line-height: 1.6rem;
    transition: 0.3s;
}

.mobile_menu li:hover .mobile_item,
.mobile_menu li:focus .mobile_item {
    color: #f1f1f1;
}


button.close_btn2 {
    position: absolute;
    right: 15px;
    top: 15px;
    background: none;
    outline: none;
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.close_btn:hover {
    color: #222;
}

.hide_nav {
    visibility: hidden;
}

/*******responsive design*******/

@media screen and (max-width:900px) {


    .mani_menu {
        display: none;
        visibility: hidden;
    }

    button.hamburger_icon {
        display: block;
    }

    button.hamburger_icon {
        top: 13px
    }
}


@media screen and (max-width:768px) {

    /*****mobile menu******/
    .side_nav {

        width: 60%;
    }

    button.hamburger_icon {
        top: 13px
    }
}

@media screen and (max-width:576px) {




    button.hamburger_icon {
        top: 12px
    }
}